version: '3.8'

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: cinelog_db
      POSTGRES_USER: cinelog_user
      POSTGRES_PASSWORD: password123
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - backend_net
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      placement:
        constraints: [node.role == manager]

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.0
    command: start-dev
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://db:5432/keycloak
      KC_DB_USERNAME: cinelog_user
      KC_DB_PASSWORD: password123
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HOSTNAME: localhost
      KC_HTTP_PORT: 8080
    ports:
      - "8080:8080"
    networks:
      - backend_net
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    depends_on:
      - db

  web:
    image: cinelog-backend:latest
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=db
      - DB_NAME=cinelog_db
      - DB_USER=cinelog_user
      - DB_PASS=password123
      - OIDC_RP_CLIENT_ID=cinelog_backend
      - OIDC_RP_CLIENT_SECRET=Hc12Vi5l30xTiDeTSHiFpzYUiAdd0fjT
      - ALLOWED_HOSTS=* 
    networks:
      - backend_net
    deploy:
      replicas: 2
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
    depends_on:
      - db
      - keycloak

networks:
  backend_net:
    driver: overlay

volumes:
  db_data: